*, form, input, textarea, button {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fw-reg: 300;
    --fw-bold: 500;
    --fw-extra-bold: 700;

    --fs-section: 3rem;
    --fs-body: 1.125rem;

    --bg-color-dark: rgb(26 26 26);
    --bg-color-gold: rgb(3, 33, 51);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Barlow;
    color: white;
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    position: relative;
}


li {
    list-style: none;
}

a, a:hover, a:active {
    color: white;
    text-decoration: none;
}

/* --LAYOUT-- */

.section {
    padding: 0 2em;
    margin-bottom: 2em;
}

/* --TYPOGRAPHY-- */

.section__title {
    text-align: center;
    padding: .5em;
    font-size: var(--fs-section);
    font-weight: var(--fw-bold);
    letter-spacing: 2px;
}

.section__body {
    padding: 0 1em 2em;
}

.nav__item, .section__body, .project__body {
    letter-spacing: .5px;
    line-height: 1.6;
}

.project__title {
    font-size: 1.25rem;
    letter-spacing: 1px;
}


/* *******HEADER******** */

.header {
    border: solid red 2px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;

    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__menu {
    border: solid red 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(160deg, rgb(1, 6, 14), rgb(7, 35, 66));
}

.nav__toggle {
    background-color: inherit;
    cursor: pointer;
}

.burger-menu {
    background-color: rgb(89, 171, 226);
    display: block;
    position: relative;
}

.burger-menu, .burger-menu::before, .burger-menu::after {
    height: 3.5px;
    width: 30px;
}

.burger-menu::before, .burger-menu::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.burger-menu::before {
    background-color: rgb(9, 77, 122);
    bottom: 10px;
}

.burger-menu::after {
    background-color: rgb(105, 191, 248);
    top: 10px;
}

/* HERO */

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.hero__title {
    font-weight: 500;
    font-size: 6rem;
    background: linear-gradient(to right, rgb(9, 77, 122), rgb(105, 191, 248));
}

.hero__subtitle {
    font-size: 2rem;
    background: linear-gradient(to right, rgb(228, 35, 35), rgb(88, 172, 252));
}

.hero__title, .hero__subtitle {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ABOUT */

.about {
    
}

/* PROJECTS */

.project__title {
    display: flex;
}

.flex {
    display: flex;
    flex-direction: column;
    /* gap: 1.125em; */
}

.project__name {
    padding-left: 1em;
}

.project__img {
    display: block;
    padding: 1em;
    height: 100%;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.project__body {
    text-indent: 1em;
    padding: 1em;
}

/* CONTACT */

/* .contact {

    padding: 2em;
}

.contact > .flex {
    border: solid rgb(0, 128, 107) 2px;
    padding: 1.5em 0;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%;
}

.form__component {
    margin: 0 auto 1.5em;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 1em;
}

input, textarea {
    font-size: 1rem;
    font-family: Barlow;
    font-weight: 700;
    text-indent: 5px;
    height: 3em;
    min-width: 250px;
    outline: none;
}

input:focus, textarea:focus {
    border-bottom: red 3px;
}

textarea {
    height: 7em;
}

.btn {
    font-size: 1.125rem;
    font-family: Barlow;
    font-weight: 700;
    padding: .5em 1em;
    border-radius: 5px;
    background-color: aqua;
    max-width: 150px;
    margin: 0 auto;
}


@media (min-width: 650px) {    
    .section__title {
        font-size: 2.25rem;
    }
    
    .project__title {
        font-size: 1.75rem;
    }

    .about .section__title {
        flex: 0 0 33%;
    }

    .nav__item, .section__body, .project__body, .form__message, label  {
        font-size: 1.125rem;
    }

    .flex {
        flex-direction: row;
        padding: 2em;
        gap: 2em;
    }

    .project__img {
        width: 50%;
    }

    .project:nth-child(2) >
    .flex {
        flex-direction: row-reverse;
    }

    .contact > .flex {
        flex-direction: row;
    }

    .form__message {
        width: 48%;
        margin: 0 auto;
        text-align: center;
    }

    .form__component {
        width: 70%;
    }

    input, textarea {
        width: 100%;
    }

}


@media (min-width: 950px) {
    .section__title {
        font-size: 2.75rem;
    }
    
    .project__title {
        font-size: 2.25rem;
    }

    .nav__item, .section__body, .project__body, .form__message, label  {
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    .about, .projects, .contact {
        max-width: 1200px;
        margin: 0 auto 2em;
    }

    .section__title {
        font-size: 3.25rem;
    }

    .project__title {
        font-size: 2.75rem;
    }

    .nav__item, .section__body, .project__body, .form__message, label, input, textarea {
        font-size: 1.5rem;
    }

    textarea {
        height: 15em;
    };
} */